h1 {
  text-align: center;
}

.thumb {
  width: 60px;
}

tr {
  cursor: pointer;
}

.poster {
  width: 300px;
}

.table,
.no-results,
.movie-card {
  width: 70%;
  margin: 0 auto;
}

.overview {
  width: 50%;
  margin: 0 auto;
}

.goback-container {
  height: 40px;
}